/* Start Top-Bar Styles */
@import "./variable.css";
.top-bar {
  color: var(--dark-color);
  background-color: #f0f2f7;
  font-size: 0.8rem;
}
.nav-link:hover{
	color: blue;
}

.top-bar__email-icon, .top-bar__phone-icon {
  color: var(--primary-color);
  font-size: 1.3rem;
	padding-left: 0.5rem;
}
/* Finish Top-Bar Styles */